body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("b5.png") no-repeat center center/cover;
    height: 100vh;
}

.overlay{
    background: rgba(0,0,0,0.75);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    width: 420px;
    padding: 25px;
    border-radius: 15px;
    background: rgba(20,20,20,0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #00ff99;
    color: white;
}

h1{
    text-align: center;
    color: #00ff99;
    margin-bottom: 10px;
}

#timer{
    text-align: right;
    margin-bottom: 15px;
    color: #00ff99;
    font-weight: bold;
}

#question{
    font-size: 18px;
    margin-bottom: 15px;
}

.option{
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

.option:hover{
    background-color: rgba(0,255,153,0.2);
}

.buttons{
    text-align: center;
    margin-top: 15px;
}

button{
    background: #00ff99;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background: #00cc77;
}
